// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_class{
   margin-bottom: 3em;
}

.image_size{
    height: 200px;
    width: 20%;
}

.booking_button{
    margin-top: 1em;
    margin-bottom: 1em;
}